.dice-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.heading {
  text-align: center;
  margin: 20px;
}

.game-info,
.combinations-info {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px;
  text-align: center;
}

.button {
  display: block;
  padding: 10px 15px;
  font-size: 1.2em;
  background-color: #d601ae;
  color: white;
  border: 2px solid black;
  border-radius: 6px;
  margin: 20px auto;
  font-weight: 600;
  letter-spacing: 0.09em;
  box-shadow: 2px 2px 2px rgb(193, 193, 193);
}

.button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.button:hover {
  border: 2px solid #d601ae;
  color: #d601ae;
  background-color: white;
}

ul {
  list-style-type: none;
  line-height: 1.5;
}

input {
  margin-right: 5px;
}
